@import 'tailwindcss';

:root {
  --bg-root: #0b0f14;
  --bg-surface: #111827;
  --bg-elevated: #1f2937;

  --primary: #6366f1;
  --primary-hover: #4f46e5;
  --primary-soft: #a5b4fc;

  --accent: #22d3ee;

  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;
  --text-muted: #6b7280;

  --border-subtle: #1f2937;
}
